petik{
    border-left:10px;
}
.help{

    text-align: right;
}
.userpass{
    margin-left:25px;
    margin-bottom:8px;
    width: 200px;
    height: 30px;
    text-align: left;
}

.box{
    width: 350px;
    height: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    align-content: center;
    margin-top: 250px;
    background: white;
    border-radius: 30px;
    box-shadow: 7px 7px 7px rgb(33, 29, 53);
}

.logs{
    border-left:2px;
    height: 30px;
    text-align: left;
}

.bground{
    background-image:url('yoru.2.png');
    background-size: cover;
}

.btnlog{
    margin-right:50px;
    margin-top: 30px;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    background-color: #3498DB;
    color: white;
    border: 20px;
}

.logintext{
    margin-top: 40px;
    size: 20px;
}

.formbox{
    margin-top: 40px;
}